body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);    
}

.container{
    display: flex;
    flex-direction: row;
    border: solid 10px darkcyan;
    border-radius: 2vh;
    margin: 3vh;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.text{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    padding: 3vh;
}

.foto{
    width: 80vh;
    height: 80vh;
    border-radius: 20%;
    padding: 3vh;
}

h1{
    font-family: 'Rubik Distressed', cursive;
    color: darkcyan;
}

p{
    font-family: 'Khand', sans-serif;
    color: darkcyan;
}

.btnConoceme{
    border-color: blue;
    color: blue;
}

.btn{
    border-color: blue;
    color: blue;
}


